.about {
    padding: 140px 0;
}

.about__subtitle {
    font-size: 32px;
    font-style: italic;
    opacity: .7;
    margin: 0 0 30px 0;
    line-height: 100%;
}

.about__title {
    /*font-family: "Arial Black";*/
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 100%;
}

.about__subtitle_position {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    /*font-style: italic;*/
    margin: 0 0 60px 0;
    line-height: 100%;

}

.about__text {
    font-size: 24px;
}
